#headerimage{
 background-color: rgb(255, 245, 246);
 padding: 70px;
}
.buttons{
 padding: 70px;
}
#red-btn{
 background-color: red;
 border: none;
 height: 50px;
 margin: 20px;
 width: 240px;
}
h1{
   margin-top: 8%;
}
p{
   margin-top: 4%;
}
#blank{
 background-color: transparent;
  border: 1px solid red;
   height: 50px;
   margin: 20px;
   width: 240px;
}
#red-btn a{
 color: white;
 text-decoration: none;
}
#blank a {
 color: red;
 text-decoration: none;
}
.some-text{
 padding: 100px;
}
.container{
   display: flex;
   align-items: center;
}
.train-img, .intern-img, .talent-img{
   background-color: white;
   width: 100px;
   margin: 30px;
}
.train, .intern, .talent{
   background-color: rgb(255, 235, 238);
margin-left: 20px;
   height: 500px;
   padding: 20px;
   width: 450px;
}
.train a, .intern a, .talent a{
   text-decoration: none;
   color: red;
}
.last{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 50px;
}
.contact{
   margin-top: 20px;
}
.follow img{
   width: 20px;
}
.follow{
   margin-top: -10px;
}
.red{
   color: red;
}

#blog{
   margin-top: 20px;
}
#logo{
   margin-top: -6%;
}
h6{
   font-family: 'Roboto', sans-serif;
   font-size: 17px;
}
@media screen and (max-width:375px){
    img{
      margin-left: 35%;
   }
   h1{
      text-align: center;
   }
   p{
      text-align: center;
   }
   .container{
      display: grid;
      justify-content: space-evenly;
   }
   .buttons{
      margin-left: -40%;
   }
   .red{
      text-align: center;
      color: red;
   }
   h3{
      text-align: center;
   }
   .train, .talent, .intern{
      margin-top: 30px;
   }
   .talent-img, .train-img, .intern-img{
      margin-left: 10%;
   }
   .talent p, .train p, .intern p{
      text-align: left;
      margin-left: 5%;
   }
   .last{
      display: grid;
      justify-content: center;
      margin-left: -20%;
   }
   #logo{
      margin-left: 100px;
      width: 150px;
   }
  .row{
   margin-left: 20%;
   padding-top: 10px;
  }
  #blog{
   margin-top: -10px;
  }
  .row span{
   margin-left: 20px;
  }
  h4{
     text-align: center;
     margin-left: 20px;
  }
  .contact{
margin-left: 45%;
   padding-top: 30px;
   padding-bottom: 30px;
  }
  .contact p{
   text-align: center;
  }
  .contact span{
   text-align: center;
   margin-left: 10px;
  }
  .follow{
   margin-left: 40%;
  }
  h6{
   text-align:center;
  }
  .social{
   display: flex;
   align-items: center;
  }
  .social img{
   margin-left: 5px;
  }
 #red-btn{
 width:200px;
 margin-left:30px;}
  h5{
   text-align: center;
  }
  .train a,
  .intern a,
  .talent a {
   margin-left: 10%;
  }
}
